In [3]:
import pandas as pd

data = pd.read_csv("nbs/null_simulations/01_phenotype_generation/data/random_phenotypes_df_40_pcs.phe.tsv", sep="\t")
data.head()

,FID,IID,sex,age,ad_by_proxy,ad_risk_by_proxy,icd10_codes,has_ad_icd10,ethnic_group,sex_chromosome_aneuploidy,...,pheno990,pheno991,pheno992,pheno993,pheno994,pheno995,pheno996,pheno997,pheno998,pheno999
0,5507516,5507516,1,64,0,0.64,"R031,K573,R42,K635,K621,E119,Z855,I842,C442,E8...",0,1.0,NaN,...,0.718638,-0.110123,0.737745,-0.633641,1.216991,-1.420129,-1.284943,1.346239,0.540493,0.277201
1,4449508,4449508,1,68,0,0.64,"Z885,I849,Z922,R11,K573,K922,Z092,R074,Z888,Q2...",0,1.0,NaN,...,0.658072,0.050963,-0.525429,0.230989,0.044333,1.127648,-0.800838,-0.573650,-0.682659,-0.851211
2,2510504,2510504,0,60,0,0.64,"M5416,K589,F329,R194,R15,F171,M169,E780,M754,F419",0,1.0,NaN,...,0.328091,0.521500,0.379871,0.443657,-0.235752,0.667793,-0.995434,-1.518953,-0.428636,-1.174860
3,4563542,4563542,0,45,0,0.87,"T814,W109,M1999,K029,Y838,R69,M2553,T922,Z470,...",0,1.0,NaN,...,0.514931,0.815854,0.693793,-0.229906,-1.445770,-0.363390,-0.844590,0.675575,0.951003,2.370887
4,2170567,2170567,0,45,0,0.64,"Z900,N812,R194,Z966,M179,M543,R103,Z907,Y400,Z...",0,1.0,NaN,...,0.355497,1.266717,-0.037256,-0.825732,0.816319,0.907230,1.142129,-0.086770,0.080041,-0.467167

In [4]:
# Remove column "illnesses_of_father" and "illnesses_of_mother"
data = data.drop(columns=["illnesses_of_father", "illnesses_of_mother"])

In [5]:
# Save the processed data
data.to_csv("nbs/null_simulations/01_phenotype_generation/data/trimmed_random_phenotypes_df_40_pcs.phe", sep="\t", index=False)